body {
    background-color: #7c7a7a44;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px; 
    background-color: #7c7a7a44;
    font-weight: bold;
    font-size: 32px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px; /* Adjust as needed */
}

.links a {
    margin-left: 10px; /* Adjust as needed */
    text-decoration: none;
    color: black; 
}

.links a:hover {
    background-color: #ddd;
    color: black;
}

.links a:first-child {
    margin-left: 0;
}


.categories {
    display: flex;
    justify-content: space-between;
    background-color: #7c7a7a44;
    padding: 20px 10px;
    margin: 10px 0px ;
}
.popular {
    display: flex; /* Use flexbox */
    align-items: center; /* Vertically center the items */
}

.popular a {
    color: black;
    text-align: center;
    padding: 6px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5%;
    font-weight: bold;
}

.popular a:hover {
    background-color: #ddd;
    color: black;
}

.search {
    display: flex;
    align-items: center;
}

.search input[type="text"] {
    width: 200px; 
    height: 20px; 
    padding: 10px; 
    border: none;
    font-size: 20px;
    padding: 6px;
}

.sidebar {

    overflow: auto;
    padding: 10px;
    width: 200px;
    background-color: #7c7a7a44;
    position: fixed;
    height: 100%;
    overflow: auto;
    position: relative;
    
}
  
 
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
   
.sidebar a:hover{
    background-color: #ddd;
    color: black;
}

.login_register_heading{

    font-size: 25px;
   
    padding: 40px 20px; 
    font-weight: bold;
    text-decoration: underline;

}
.login_register_label{

    font-size: 20px;
    margin: 8px 20px;
    
}
.input {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 20px;
    border: 5px solid #ccc;
    box-sizing: border-box;
    display: block; 
}

.submit {
    background-color: dodgerblue;
    color: black;
    padding: 14px 20px;
    margin: 8px 20px;
    border: none;
    cursor: pointer;
    clear: both; 
    width: 35%;
}

.login_buttons {
    
    float: right; 
    width: 25%;
    position: absolute;
    top: 350px; 
    right: 50px; 
    width: 25%;
    
}

.login_buttons img {
   
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}

.login_buttons a {
   
    text-align: center;
    font-weight: bold;
    font-size: 20px; 
    padding: 20px 20px;
    margin: 8px 20px;
    display: block;
    margin-bottom: 40px; 
    color: black;
    background-color: #7c7a7a44;
}

.login_buttons1 {
    
    float: right; 
    
    
}

.login_buttons1 img {
   
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    width: 75px;
    width: 75px;
}

@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
      
    }
}