<!DOCTYPE html>

{% extends 'recipes/base.html' %}
{% load staticfiles %}
{% block body_block %} 
    {% if validlink %}

    <div id="heading">Set a new password!</div>
    <form method="POST">
    <div class="reset_p">
    {% csrf_token %}
    {{ form.as_p }}
    </div>
    <input type="submit"  class="submit"  value="Change my password">
    </form>

    {% else %}

    <p class="message">The password reset link was invalid and may have already been used. Please request a new password reset.</p>

    {% endif %}
{% endblock %}