/*Base Page*/
body {
    background-color: lightgrey;
    
}

/*Navbar and contents*/
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    background-color: lightskyblue;
    font-weight: bold;
    font-size: 32px;
    border-radius: 15px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
    height: 120px;
    padding-right: 10px;
}

.links {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
}

.links a:hover {
    background-color: cyan;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    color: black;
    border-radius: 15px;
}

.profile_photo {
    float: right;
    display: flex;
    align-items: center; 
    margin-left: 10px; 
}

.profile_photo img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-left: 20px;
}

/*Popular categories bar*/
.categories {
    display: flex;
    justify-content: space-between;
    background-color: lightskyblue;
    padding: 20px 10px;
    margin: 10px 0px ;
    border-radius: 15px;
    align-items: center; 
}

.popular a {
    color: black;
    text-align: center;
    padding: 6px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 15%;
    font-weight: bold;
    margin-left: 20px;

}

.popular a:hover {
    background-color: cyan;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    color: black;
    border-radius: 15px;
    
}

.categories input[type="text"] {
    width: 200px; 
    height: 20px; 
    border: none;
    font-size: 20px;
    padding: 6px;
    border-radius: 15px;
}

.categories:hover {
    color: lightgray;
}

.search_btn{
    border-radius: 15px;
    padding: 6px; 
    border: none;
    background-color: lightskyblue;color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.search_btn:hover{
    background-color: cyan;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.container{
    display:flex;
}


/*Sidebar*/
.sidebar {
    float: left;
    overflow: auto;
    padding: 10px;
    padding-left: 0px;
    width: 200px;
    border-radius: 15px;
    background-color: mintcream;
    position: relative;
    height: 100%;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    background-color: lightblue;
    margin-bottom: 10px;
    border-radius: 15px;
}
   
.sidebar a:hover{
    background-color: cyan;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    color: black;
    border-radius: 15px;
}


/*Home Page*/

.home_content {
    margin-left: 220px; 
}

.message {
    padding-left: 20px; 
    font-size: 20px;
    font-weight: bold;
    width: 55%;

}
.search_results{
    padding-left: 20px; 
    float: left;
    overflow: auto;
    padding: 10px;
    border-radius: 15px;
    background-color: mintcream;
    position: relative;
    height: 100%;
}

.search_results a {
    display: block;
    color: black;
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    background-color: lightblue;
    margin-bottom: 10px;
    border-radius: 15px;

}
   
.search_results a:hover{
    background-color: cyan;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    color: black;
    border-radius: 15px;
}
.submit a{
 
    text-align: center;

}

.recipe-picture {
    display: none; 
}

.home_images {
    margin-left:20px;
    float: right;
}

.home_images img{
    height : 300px;
    width: 400px;
    border-radius: 15px;
}

#home_pictures {
    display: none; 
}

/*Login + Register Page*/


#heading{
    font-size: 30px;
    padding: 40px 20px; 
    font-weight: bold;
   

}
.login_register_label{
    font-size: 20px;
    margin: 8px 20px;
}

.input {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 20px;
    border: 5px solid turquoise;
    box-sizing: border-box;
    display: block; 
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}


.reset_p {
    margin: 8px 20px;
    display: block; 
    font-size: 22px;
    font-weight: bold;
}

.reset_p input[type="email"]{
    width: 25%;
    padding: 12px 20px;
    margin: 8px 20px;
    border: 5px solid turquoise;
    box-sizing: border-box;
  
}

.reset_p input[type="password"]{
    width: 25%;
    padding: 12px 20px;
    margin: 8px 20px;
    border: 5px solid turquoise;
    box-sizing: border-box;
  
}

#edit_profile  {
    width: 500px;
    
}

.submit {
    background-color: lightskyblue;
    color: black;
    padding: 14px 20px;
    margin: 8px 20px;
    border: none;
    width: 35%;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Times New Roman', Times, serif
}

.submit:hover{
    background-color: cyan;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

/*Profile photo and buttons on register page*/
.display_right {
    float: right; 
    width: 25%;
    position: absolute;
    top: 350px; 
    right: 50px; 
    width: 25%;   
}

.display_right img {
   
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}

.display_right a {
   
    padding: 20px 20px;
    display: block;
    margin: 20px; 
    color: black;
    background-color: lightskyblue;
    border-radius: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.display_right a:hover {
    background-color: cyan;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    border-radius: 15px;
}




.content {
    flex-grow: 1; /* How much space to allocate in the remaining space */
    margin: 20px;
    margin-top: 0px;
    background-color: lightskyblue; 
    border-radius: 15px;
    padding: 20px;
    padding-bottom: 0px;
}

.recipe {
    border: 1px solid #ddd;
    padding: 10px;
    padding-left: 20px;
    background-color: mintcream;
    display: flex;
    justify-content: space-between; /* Alignment of child elements(horizontal)*/
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    margin-bottom: 20px;

}
.recipe-text {
  
    flex-grow: 1;
   
}
 
.recipe:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.recipe img {
    border-radius: 15px;
    width: 150px;
    height: 150px;
    object-fit: cover;
   
}

.recipe-content {
    max-width: calc(100% - 170px); 
}

.recipe a {
 
    font-size: 26px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.recipe a:hover{
 
    font-size: 24px;
    font-weight: bold;
    color: cyan;
    text-decoration: none;
}

.recipe p {
    font-size: 18px;
    color: #666;
    margin-top: 8px;
}

#error{
 
    background-color: lightskyblue;
    font-weight: bold;
    font-size: 32px;
    border-radius: 15px;
    text-align: center;
}

textarea{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;

}

@media (max-width: 768px) {
    .recipes-list {
        padding: 10px;
    }
    .recipe {
        flex-direction: column;
    }
     .recipe img {
        width: 80%;
        height: auto;
        margin-bottom: 20px;
    }
    .recipe-content {
        max-width: 100%;
    }
}



@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
}