<!DOCTYPE html>
<html>
    <head>
    <title>Recipes</title>
    </head>
    <body>
        <div>
            {% if recipe %}
            <h1>{{ recipe.name }}</h1>
            <h3>Ingredients</h3>
            <ul>
            {{ recipe.ingredients }}
            </ul>
            <h3>
                {{ recipe.instructions }}
            </h3>
            {% else $}
            <strong>Recipe does not exist.</strong>
            {% endif %}
            <a href="{% url 'recipes:review' %}">Write a Review</a>

        </div>
    </body>
</html>