<!DOCTYPE html>

{% extends 'recipes/base.html' %}
{% load static %}

{% block body_block %} 
    <div class="sidebar">
        <ul>
            {% for category in categories %}
            <li><a href="{% url 'recipes:category_detail' category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="home_content">
        <div class="home_images">
            <img src="{{ MEDIA_URL }}lasanga.png" id = 'home_pictures' />
        </div>
        <div>
            <div id="heading">
                Welcome to Culinary Carnival!
            </div>
            <p class="welcome_message">
                This is a friendly website for cooks of any experience to find an share recipes.<br>
                Please browse our various categories or take a look at the most popular recipes on offer.<br>
                If you have a recipe to share we'd all love to hear it you can upload it from the profile section if you have logged in.<br>
                We hope you enjoy ur stay!
            </p>
        </div>
    </div>
 

{% endblock %}
