<!DOCTYPE html>

{% extends 'recipes/base.html' %}
{% load static %}

{% block body_block %}
<div id= heading>
    Login to Culinary Carnival
</div>

    <form class="form" role="form" method="post" action="{% url 'recipes:login' %}">
    {% csrf_token %}
    <label class="login_register_label">Username or Email:</label>
    <input type="text" name="username" class="input" placeholder="Username or Email" required autofocus>
    <label class="login_register_label">Password:</label>
    <input type="password" name="password" class="input" placeholder="Password" required>
    <button class="submit" type="submit" value="Submit">Sign in</button>
    </form> 

<div class="display_right">
    <a href="{% url 'recipes:register' %}">Register</a>
    <a href="{% url 'recipes:password_reset_form' %}">Forgot Password</a>
    <p id="error">{{error}}</p>
</div>


{% endblock %}


