<!DOCTYPE html>
 
{% extends 'recipes/base.html' %}
{% load static %}
 
{% block body_block %}
<div class="recipe-container">
    <div class="sidebar">
        <ul>
            {% for category in categories%}
                <li><a href="{% url 'recipes:category_detail' category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
 
    <div class="recipe-content">
        <div class="recipe-meta">
            <h1>{{recipe.title}}</h1>
            <p>Cooking Time: {{ recipe.cooking_time }}</p>
            <p>Prep Time: {{ recipe.prep_time }}</p>
            <p>Likes: {{ recipe.likes }}</p>
            <p>Views: {{ recipe.views }}</p>
        </div>
       
        <!--image-->
        <div class="recipe-image">
            <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
        </div>
       
 
        <!--steps-->
        <div class="recipe-steps">
            <h2>Steps</h2>
 
        </div>
 
        <div class="recipe-ingredients">
            <h2>ingredients</h2>
 
        </div>
 
        <button class="review-button">View Reviews/Comments</button>
        <button class="comment-button">Leave a Review</button>
 
{% endblock %}