<!DOCTYPE html>

{% extends 'recipes/base.html' %}

{% block heading %} 
{{ recipe.title }}
{% endblock %}

{% block body_block %}



<h1>{{ recipe.title }} - {{ recipe.author }}</h1>
<div class="center">

    <h3><b>Views:</b> {{ recipe.views }}</h3>
    <div>
        <strong id="like_count">{{ recipe.likes }}</strong> likes

        {% if user.is_authenticated %}
        <button id="like_btn" data-recipeid="{{ recipe.id }}" class="btn btn-primary btn-sm" type="button">
            <span data-feathers="thumbs-up"></span>
            Like recipe
        </button>
        {% endif %}
    </div>

    <p><b>Category:</b> {{ recipe.category }} </p>

    <p><b>Difficulty:</b> {{ recipe.difficulty }} </p>


    <p><b>Ingredients:</b></p>
    {% for i in ingredients %}
    <li>{{ i }}</li>
    {% endfor %}

    <p><b>Directions:</b></p>
    {% for step in steps %}
    <li>{{ step }}</li>
    {%endfor%}
</div>



{% endblock %}

