{% extends 'recipes/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Write a Review
{% endblock %}
{% block body_block %}
    {% if user.is_authenticated %}
        <h1>Write a review</h1>
        <div>

            <form id="review_form" method="post" action="{% url 'recipes:review' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ review_form.as_p }}


                <input type="submit" name="submit" value="Submit Recipe" />

            </form>
        {% else %}
            <a href="{% url 'recipes:home' %}">Return to the homepage.</a><br />
        {% endif %}

        </div>
{% endblock %}