<!DOCTYPE html>

{% extends 'recipes/base.html' %}

{% block heading %} 
{{query}}
{% endblock %}


{% load static %}

{% block body_block %} 
<div id="heading">Search Results for "{{ query }}"</div>
{% if recipe_results %}
    <ul class="search_results">
        {% for recipe in recipe_results %}
            <a href="{% url 'recipes:recipe_page' recipe.slug %}"> {{ recipe.title }} - {{ recipe.author }}</a>
        {% endfor %}
    </ul>
{% else %}
    <p class ="message">No results found.</p>
{% endif %}
{% endblock %}