{% extends 'recipes/base.html' %}
{% load static %}

{% block title_block %}
    Upload Recipe
{% endblock %}
{% block body_block %}
    {% if user.is_authenticated %}
        <h1>Upload a Recipe</h1>
        <div>

            <form id="upload_form" method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <label>Title:</label>
                <input type="text" name="title" class="input" placeholder="title" required autofocus>
                
                <label>Category: [please select]</label>
                <br>
                <select name="categories" class="custom-select" multiple>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
                
                <label >Preparation Time:</label>
                <input type="text" name="preparation" class="input" placeholder="preparation time" required>
               
                <label >Cooking Time:</label>
                <input type="text" name="cooking" class="input" placeholder="cooking time" required>
                
                <label >Ingredients: [separate by new line]</label>
                <textarea type="text" name="ingredients" class="input" placeholder="ingredients" required></textarea>
                
                
                <label >Directions: [number each step and separate by new line]</label>
                <textarea type="text" name="directions" class="input" placeholder="directions" required></textarea>
                
                <label>Image:</label>
                <input type="file" name="image" class="input" placeholder="image">
             
                
            
               <!--<button type="submit" class="submit">Submit</button>-->
                <input type="submit" name="submit" value="Upload Recipe" />


            </form>
        {% else %}
            <a href="{% url 'recipes:home' %}">Return to the homepage.</a><br />
        {% endif %}

        </div>
{% endblock %}
